use flake
export DATABASE_URL=postgres://postgres:bipa@localhost:5432/mercedado
export RUST_LOG=mercedado=debug,sqlx=warn,axum::rejection=trace
export OTEL_ENDPOINT=http://localhost:4317
export INSTANCE_ID=mercedado-local
source_env ".secrets"
